<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="BMSModelContainer" connectionString="metadata=res://*/Entity.BMSModel.csdl|res://*/Entity.BMSModel.ssdl|res://*/Entity.BMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bds248164437.my3w.com;initial catalog=bds248164437_db;persist security info=True;user id=bds248164437;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BMS_DAL.Properties.Settings.bds248164437_dbConnectionString"
      connectionString="Data Source=bds248164437.my3w.com;Initial Catalog=bds248164437_db;Persist Security Info=True;User ID=bds248164437;Password=yZ99101031"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>